- for post in contentful.blog_posts
    article(itemscope='', itemtype='http://schema.org/Article')
        header
            h4=post.category
            h2(itemprop='name headline')
              a(href='blog/#{slugify(post.title)}')=post.title    
            p
              | Posted on 
              meta(itemprop='datePublished', content='#{post.createdAt}')
              =post.createdAt 
              span(itemprop='author')   
        main.entry-content(itemprop='articleBody')!=markdown(post.exerpt)